<!doctype html>
<!--[if lt IE 8]>    <html class="no-js isIe ie7 oldie" lang="en"> <![endif]-->
<!--[if gte IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    About Candex | Mission, Story &amp; Leadership
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Discover how Candex was founded to simplify tail-spend purchasing and deliver control, compliance and visibility for global enterprises." />

    
        <link rel="canonical" href="https://www.candex.com/AboutUs" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Candex" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />

<script>
    window.isIE = false || !!document.documentMode;
    if (window.isIE)
    {
        document.documentElement.className += ' isIe ie' + document.documentMode; //
        
        
        "function" != typeof Object.assign && Object.defineProperty(Object, "assign", { value: function (e, t) { "use strict"; if (null == e) throw new TypeError("Cannot convert undefined or null to object"); for (var n = Object(e), r = 1; r < arguments.length; r++){ var o = arguments[r]; if (null != o) for (var c in o) Object.prototype.hasOwnProperty.call(o, c) && (n[c] = o[c]) } return n }, writable: !0, configurable: !0 });
        //Disable IE
        //window.location = "/SupportedPlatforms"; 
    }
</script>

<script>
    
 if (window.isIE === true) {
  var imgtag = document.createElement("img");
  imgtag.height = "1";
  imgtag.width = "1";
  
  imgtag.alt = "";
        imgtag.src = "/Images/Close.gif?IEver=" + document.documentMode + "&Id=" + "anonymous" + "&d=" + (new Date()).getTime();
 }
</script>

 




    
    <meta property="og:title" content="About Candex | Mission, Story &amp; Leadership" />
  
    
    <meta property="og:description" content="Discover how Candex was founded to simplify tail-spend purchasing and deliver control, compliance and visibility for global enterprises." />

    
        <meta name="description" content="Stop working your tail off!  Candex makes it simple, fast, and compliant to pay small and one-time suppliers fast!  Empower business users without sacrificing P2P." />
    
    
        <meta property="og:site_name" content="Candex" />

    
    <meta property="og:type" content="website" />

    

    
<link href="/CSS/siteNew.css?v=4.2.8.7" rel="stylesheet" type="text/css" />    
    
    

    <script src="/Scripts/lib/modernizr-2.8.3.custom.min.js" type="text/javascript"></script>
    
</head>
<body class=" about-us   en ">

<span id="cookiesPolicyMsg" style="display:none;" class="cookiesAndNotificationsCont">
    <div class="topActions">
        <span class="before-with-icon icon-cross close"></span>
        <a href="#" bypass="true" class="lnkAcceptCookies lnkAllow">Allow</a>
    </div>
    <div class="largeText">
        Candex Uses Cookies
    </div>
    <div class="smallText">To improve experience</div>
    <div class="actionCont">
        <a href="#" bypass="true" class="lnkAcceptCookies GenericBtnBlue">Allow</a>
        <a bypass="true" class="lnkLearnMore&#32;GenericBtnBlue" href="/SignIn/Cookies" target="_blank">Learn More</a>
    </div>
</span>

<div id="loginBox" class="fRegular loginBox inSamlMode">
    <form id="formTopLogin" method="post" autocomplete="off" action="/SignIn/LogOnTopForm">
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IsaSE1164dFvLE-NEE8omkwpShCaffmAgT5xmspLPFVQWhGJqtvujj_9R-oT7pZFWP8dJpbtZE3dERlcfs9uxyMW_ErvCsrGBMVreWtYMH4SwaZ_37riTpIgpsgQFExGTp30jXSdU_mc45kjPjkB_01" /> 
        <div class="row">
            <label for="topUserName">Email</label>
            <input autocomplete="email" class="txbEmail&#32;txbRoundCorners" id="topUserName" maxlength="150" name="UserName" type="text" value="" />
        </div>
        <div class="row hidden loginUsingPassword">
            <label for="topPassword">Password</label>
            <input autocomplete="off" class="txbPass&#32;txbRoundCorners" id="topPassword" maxlength="150" name="Password" type="password" />
        </div>
        <div class="customPopup customTopActions hidden loginUsingPassword">
            <input checked="checked" class="chkTopRememberMe" id="chkTopRememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
            <label class="lblRememberMe labelFix" for="chkTopRememberMe">Stay signed In</label>
        </div>
        <input id="btnTopLogin" type="submit" class="btnTop btnLogin floatingBtnLogin hidden loginUsingPassword" value="Sign In" />
        <a class="nav lnkForgotPass hidden loginUsingPassword" href="#"> Forgot your password?</a>
        <button type="button" class="btnTop btnContinueSaml" hrefaction="/saml/IsSamlSupported">Continue</button>
    </form>
    <div class="forgotPasswordCont" style="display:none">
        <div class="submitFields">
            <div class="row">
                <label for="topForgotEmail">Email</label>
                <input autocomplete="email" class="txbEmail&#32;txbForgotEmail&#32;txbRoundCorners" id="topForgotEmail" maxlength="150" name="UserName" type="text" value="" />
            </div>
            <button class="btnRequestPassword btnTop" hrefaction="/SignIn/ForgotPassword">Request Password</button>
        </div>
        <div class="forgotPassMessageCont"><div class="msg" successMsg="Please check your email to reset password."></div></div>
        <a class="nav lnkBackToLogin" href="#">Back to Login</a>
    </div>
</div>

    
    <div id="header" class="header">
<div class="topMenuAndActions">
    <div id="topMainMenu" class="topMainMenu fMedium ">
        <i class="icon mobileMenuIcon">&#xE040;</i>
        <a class="" href="/HowItWorks">How it Works</a>
        <a class="" href="/ForBuyers">For Buyers</a>
        <a class="" href="/ForSellers">For Sellers</a>
        <div class="publicSiteMainMenuActions actionsMainDiv cxActions a-cond-up">
            <div class="actionsDiv cxBtn selected">
                <span class="cxBtnTxt">About</span>
                <span class="icon icon-arrow-down4 cxActionIcon"></span>
            </div>
            <div class="actionsGroup bottomGrayBorder cxActions">
                <ul class="langListItemsCont actionsItems actionFont">
                    <li><a class="selected" href="/AboutUs">About Us</a></li>
                    <li><a class="" href="/Pricing">Pricing</a></li>
                    <li><a class="" href="/careers">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>


        <a href="#" id="lnkLogin" class="b-login topActionsLogin fMedium ellipsis">Sign In</a>
        <a href="/SignIn/LogOn" class="b-loginMobile topActionsLogin fMedium ellipsis">Sign In</a>


</div>
        
        
            <a class="candexLogo" poweredByText="" title="Candex" href="/"></a>
        <div class="cont">
            
    <h1 class="slogen">Candex Mission</h1>
    <h2 class="h-info">Take the complexity out of tail spend purchasing</h2>
    <a class="demoRequestBtn" href="/DemoRequest">Get a Demo</a>

        </div>
    </div>
    <div id="main" class="main">
        
        <div class="  cx-background  ">
            
    <div class="about-mission">
        <div class="topTextCont">
            <div class="textCont">Think about how difficult it is to engage, track and pay a service vendor.  In many organizations, it is a multi-month mission involving many departments.  It results in an unpleasant administrative experience across all companies trying to pay each other.</div>
        </div>
        <div class="foundersCont"></div>
        <div class="bottomTextCont">
            <div class="textCont">Candex was founded in 2011 by Jeremy Lappin and Shani Vaza to solve the tail spend problem. Their technology removes thousands of vendor records from financial systems while delivering control, speed, tax compliance, and visibility.  Great design and attention to detail makes Candex the simplest and most precise way to get tail spend under control.</div>
        </div>
    </div>
    <div class="section pillars-of-candex-section">
        <div class="pillars-of-candex">
            <div class="large-text">Our Pillars</div>
            <div class="icons-text-container">
                <div class="icons-text validation">Validation</div>
                <div class="icons-text compliance">Compliance</div>
                <div class="icons-text precision">Precision</div>
                <div class="icons-text privacy">Privacy</div>
            </div>
        </div>
    </div>
    <div class="section about-offices-section">
        <div class="about-offices">
            <div class="office-details first-col">
                <div class="large-text">New York</div>
                <div class="small-text">420 Lexington Avenue</div>
                <div class="small-text">Suite 300</div>
                <div class="small-text">New York, NY 10170</div>
                <div class="small-text">+1 202 559 2596</div>
            </div>
            <div class="office-details second-col">
                <div class="large-text">London</div>
                <div class="small-text">Kemp House</div>
                <div class="small-text">152 City Road</div>
                <div class="small-text">London EC1V 2NX</div>
                <div class="small-text">+44 20 4515 2746</div>
            </div>
            <div class="office-details contact first-col">
                <div class="large-text">Contact Us</div>
                <div class="small-text"><a href="mailto:sales@candex.com">sales@candex.com</a></div>
                <div class="small-text"><a href="mailto:support@candex.com">support@candex.com</a></div>
            </div>
        </div>
        <div class="about-offices">
            <div class="office-details first-col">
                <div class="large-text">Singapore</div>
                <div class="small-text">200 Jalan Sultan</div>
                <div class="small-text">#08-02 Textile Centre</div>
                <div class="small-text">Singapore 199018</div>
                <div class="small-text">+65 6371 9737</div>
            </div>
            <div class="office-details second-col">
                <div class="large-text">Israel R&amp;D</div>
                <div class="small-text">Beit Gibor Sport</div>
                <div class="small-text">Derech Menachem Begin 7</div>
                <div class="small-text">Ramat Gan, 5268102, Israel</div>
            </div>
            <div class="office-details first-col">
                <div class="large-text">Japan</div>
                <div class="small-text">3-1-6 Moto-azabu</div>
                <div class="small-text"></div>
                <div class="small-text">Minato-ku, Tokyo 106-0046</div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="candex-enterprises-container">
            <div class="someClientsTitle">Our Investors</div>
            <div class="enterprises-container">                
                <div class="icon-wrapper altos-ventures-wrapper">
                    <div class="icon-container altos-ventures"></div>
                </div>
                <div class="icon-wrapper wil-wrapper">
                    <div class="icon-container wil"></div>
                </div>
                <div class="icon-wrapper goldmanSaches-wrapper">
                    <div class="icon-container goldmanSaches"></div>
                </div>
                <div class="icon-wrapper nineyards-wrapper">
                    <div class="icon-container nineyards"></div>
                </div>
                <div class="icon-wrapper hedosophia-wrapper">
                    <div class="icon-container hedosophia"></div>
                </div>
                 <div class="icon-wrapper craft-wrapper">
                    <div class="icon-container craft"></div>
                </div>
                <div class="icon-wrapper nfx-wrapper">
                    <div class="icon-container nfx"></div>
                </div>
                <div class="icon-wrapper mhscapital-wrapper">
                    <div class="icon-container mhscapital"></div>
                </div>
                <div class="icon-wrapper camp-one-wrapper">
                    <div class="icon-container camp-one"></div>
                </div>
                <div class="icon-wrapper tekton-wrapper">
                    <div class="icon-container tekton"></div>
                </div>
                <div class="icon-wrapper advisors-wrapper">
                    <div class="icon-container advisors"></div>
                </div>
                <div class="icon-wrapper edenred-wrapper">
                    <div class="icon-container edenred"></div>
                </div>
                <div class="icon-wrapper pertech-wrapper">
                    <div class="icon-container pertech"></div>
                </div>
                <div class="icon-wrapper commerce-ventures-wrapper">
                    <div class="icon-container commerce-ventures"></div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>

    
    
    


<div id="footer" class="footer">
    <div class="cont footerCont">
        <div class="footerLeft" dir="auto">
            <div class="candexInfo">
                On Candex, businesses can engage, collaborate and exchange payments in a compliant way without setup in each other&#8217;s financial systems.
            </div>
            <div class="allRightsReserved">&copy; 2025 Candex. All Rights Reserved.</div>
        </div>
        <div class="footerRigtht" dir="auto">
            <ul class="product">
                <li><div class="headerTest">Products</div></li>
                <li><a href="/HowItWorks">How it Works</a></li>
                <li><a href="/ForBuyers">For Buyers</a></li>
                <li><a href="/ForSellers">For Sellers</a></li>
                <li><a href="/Pricing">Pricing</a></li>
            </ul>
            <ul class="company">
                <li><div class="headerTest capitalize">company</div></li>
                <li><a href="/AboutUs">About</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/Pricing#faqs">FAQs</a></li>
                <li><a href="/Home/PrivacyPolicy">Privacy Policy</a></li>
                <li><a href="/Home/TermsOfUse">Terms of Use</a></li>
                <li><a href="/Topics/ESG">ESG Strategy</a></li>
            </ul>
        </div>
    </div>
</div>




    
    
<script>

 WebFontConfig = {
     google: { families: ['Roboto:700,600,400,300:latin'] }//,
   //custom: { families: ['PTSansRegular'], urls : ['/css/font/fontLoader.css']}
 };
    (function (d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        wf.integrity = "sha384-pvXSwSU09c+q9mPyY++ygUHWIYRoaxgnJ/JC5wcOzMb/NVVu+IDniiB9qWp3ZNWM";
		wf.crossOrigin = "anonymous";
        s.parentNode.insertBefore(wf, s);
    })(document);

</script>


    

<script src="/Scripts/lib/jquery_3_7_1/jquery-3.7.1.min.js"></script>
<script src="/Scripts/lib/underscore_1_13_7/underscore-umd-min.js"></script>
<script src="/Scripts/dist/cxCorejsPolyfillsBundle.js?v=4.2.8.7" ></script>
<script src="/Scripts/dist/cxStoreBundle.js?v=4.2.8.7" ></script>
<script>
    window.CXLocalStore.InitLocalStoreWrapper();
</script>
<script src="/Scripts/lib/js.cookie-2.2.0.min.js?v=4.2.8.7" ></script>
<script src="/Scripts/BindGlobalAjaxSettings.js?v=4.2.8.7" ></script>
<script src="/Scripts/jquery.customInput.js?v=4.2.8.7" ></script>
<script src="/Scripts/jquery.placeholder.js?v=4.2.8.7" ></script>


    
    <script src="/Scripts/tools.tooltip.min.js?v=4.2.8.7" ></script>
    <script src="/Scripts/BindLogin.js?v=4.2.8.7" ></script>
    <script src="/Scripts/mobileHelper.js?v=4.2.8.7" ></script>
    
<script src="/Scripts/CXActionsMenu.js?v=4.2.8.7" ></script>    

<script>
    (function ($) {
        $(".btnGetStarted").on("click", function (event) {
            event.preventDefault();
            $("#getStarted").addClass("showJoinForm");
            $("input[placeholder]").placeholder({ blankSubmitAndValidate: true });
        });
    })(jQuery);
</script>


    
        <script>
            _.templateSettings = { /*<% --configure the underscore templating to work well in asp.net MVC-- %>*/
                interpolate: /\{%=(.+?)%\}/g,	/*<% --//to print some value in template		 --%>*/
                escape: /\{%-(.+?)%\}/g,		/*<% --//to print some values with HTML escaped --%>*/
                evaluate: /\{%(.+?)%\}/g /*<% --//to execute some code					 --%>*/
            };
        </script>
<script src="/Scripts/lib/jquery.validate_1_21_0/jquery.validate.min.js?v=4.2.8.7" ></script><script src="/Scripts/lib/MicrosoftMvcJQueryValidation.js?v=4.2.8.7" ></script><script src="/Scripts/jquery.form.min.js?v=4.2.8.7" ></script><script src="/Scripts/account.js?v=4.2.8.7" ></script><script src="/Scripts/tools.overlay.expose.min.js?v=4.2.8.7" ></script><script src="/Scripts/showMsg.js?v=4.2.8.7" ></script>        <div class="overlay msg demoRequestMsg" id="zMsg"><div class="closeBtn close icon">&#xE031;</div>
<div class="msgOverlayTitle hidden"></div>
<br />
<div class="alertMsg"></div>
<div class="alertMsgBtn">
    <button type="button" class="yesNo msgCloseBtn close GenericBtnBlue g-btn" btnDefaultText="Close">Close</button>
    <button type="button" class="yesNo msgYesBtn GenericBtnBlue g-btn hidden" btnDefaultText="Yes"> Yes</button>
    <button type="button" class="yesNo msgNoBtn GenericBtnWhite g-btn hidden" btnDefaultText="No">No</button>
</div>
</div> 
        <div class="overlayText" id="MsgDemoModal">Thank you for your interest in Candex.  Someone will be in touch with you to schedule a demonstration.</div>
        <div class="overlay msg msgInline rightSideInlineMsg" id="zMsgInlineRight"></div>

    



<script>
    if (!isIE) {
        
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        
        gtag('consent', 'default', {
            'ad_storage': 'denied',
            'analytics_storage': 'denied'
        });
    }
</script>







<!-- Google Tag Manager -->
<script>
    if (!isIE) {
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://s.candex.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NMQ2XDV');
    }
</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://s.candex.com/ns.html?id=GTM-NMQ2XDV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<script type="text/javascript" src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&ns=7&cb=2118817413" async></script></body>
</html>
